body {
    color: white;
    background: rgb(72, 0, 72);
    font-family: Oswald;
}
header {
    border-bottom: solid 1px pink;
    padding-top: 20px;
    font-size: 72px;
    font-family: Roboto;
    text-align: center;
    font-family: Oswald;
}
img {
    height: 100px;
}
h1 {
    font-size: 32px;
    font-weight: bold;
}
p {
    font-size: 18px;
}
.video{
    margin-top: 25px;
}
.reprodutor{
    background: purple;
    color: pink;
    display: none;
}
.titulo-descricao {
    margin-left: 5%;
    text-align: right;
}
.reprodutor.ativo {
    display: block flex;
    padding-bottom: 80px;
    padding-top: 55px;
    justify-content: center;
    border-bottom: solid 1px pink;
}
.btn-vid.pressed{
    display: none;
}
.plus{
    text-align: center;
    border-bottom: solid 1px white;
}
.miniaturas{
    display: block flex;
    padding-bottom: 1%;
    justify-content: center;
}
footer {
    text-align: center;
}